@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


html, body {
  @apply font-sans;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
